---
layout: default
---  

        <div class="about">
            <h2>About Me</h2>
            <p>Hi, I’m Ellaina 👋, Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,
                Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,
                Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,
                Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,Hi, I’m Ellaina 👋,
            </p>    
        </div>
      

        <div class="skills">
            <h2>Skills</h2>
            <div class="skill-bubbles">
              <span class="bubble">C</span>
              <span class="bubble">Java</span>
              <span class="bubble">Python</span>
              <span class="bubble">Verilog</span>
              <span class="bubble">Git</span>
            </div>
        </div>

      


